[submodule "socketapi/proto"]
	path = socketapi/proto
	url = git@github.com:thakkarparth007/dalal-street-proto
[submodule "frontend"]
	path = frontend
	url = git@github.com:thakkarparth007/Dalal-Front-End
