{
   "Dev": {
      "Stage": "dev",

      "EventId": "3",
      "EventSecret": "a7b20fc00eca79eeced4790b79a9177a",

      "LogFileName": "stdout",
      "LogMaxSize": 50,
      "LogLevel": "debug",

      "DbUser": "root",
      "DbPassword": "",
      "DbHost": "",
      "DbName": "dalalstreet_dev",

      "ServerPort": ":8000",

      "TLSCert": "./tls_keys/dev/server.crt",
      "TLSKey": "./tls_keys/dev/server.key",
      "CacheSize": 1000,
      "BotSecret":"hellobots",
      "SendgridKey":"",
      "PlivoAuthId": "",
      "PlivoAuthToken": "",
      "MaxOTPRequestCount":100,
	   "OTPExpiryTime":5,
      "MaxBlockCount":3,
      "ReferralCashReward": 2000,
      "TotalMarketDays":7,
      "PushNotificationVAPIDPublicKey": "",
      "PushNotificationVAPIDPrivateKey": "",
      "PushNotificationEmail": "mailto:example@example.com",
      "FrontEndUrl": "",
      "MaxVerificationEmailRequestCount": 5
   },

   "Docker": {
      "Stage": "docker",

      "EventId": "3",
      "EventSecret": "a7b20fc00eca79eeced4790b79a9177a",

      "LogFileName": "./dalalstreet_docker.log",
      "LogMaxSize": 50,
      "LogLevel": "info",

      "DbUser": "root",
      "DbPassword": "MYSQL_CONTAINER_ROOT_PASSWORD",
      "DbHost": "tcp(db:3306)",
      "DbName": "dalalstreet_docker",

      "ServerPort": ":8000",

      "TLSCert": "./tls_keys/docker/server.crt",
      "TLSKey": "./tls_keys/docker/server.key",
      "CacheSize": 1000,
      "BotSecret":"hellobots",
      "SendgridKey":"",
      "PlivoAuthId": "",
      "PlivoAuthToken": "",
      "MaxOTPRequestCount":100,
	   "OTPExpiryTime":5,
      "MaxBlockCount":3,
      "ReferralCashReward": 2000,
      "TotalMarketDays":7,
      "PushNotificationVAPIDPublicKey": "",
      "PushNotificationVAPIDPrivateKey": "",
      "PushNotificationEmail": "mailto:example@example.com",
      "FrontEndUrl": "",
      "MaxVerificationEmailRequestCount": 5
   },

   "Prod": {
      "Stage": "prod",

      "EventId": "3",
      "EventSecret": "a7b20fc00eca79eeced4790b79a9177a",

      "LogFileName": "./dalalstreet.log",
      "LogMaxSize": 50,
      "LogLevel": "info",

      "DbUser": "root",
      "DbPassword": "",
      "DbHost": "",
      "DbName": "dalalstreet",

      "ServerPort": ":8000",

      "TLSCert": "./tls_keys/prod/server.crt",
      "TLSKey": "./tls_keys/prod/server.key",
      "CacheSize": 1000,
      "BotSecret":"hellobots",
      "SendgridKey":"",
      "PlivoAuthId": "",
      "PlivoAuthToken": "",
      "MaxOTPRequestCount":100,
	   "OTPExpiryTime":5,
      "MaxBlockCount":3,
      "ReferralCashReward": 2000,
      "TotalMarketDays":7,
      "PushNotificationVAPIDPublicKey": "",
      "PushNotificationVAPIDPrivateKey": "",
      "PushNotificationEmail": "mailto:example@example.com",
      "FrontEndUrl": "",
      "MaxVerificationEmailRequestCount": 5
 },

   "Test": {
      "Stage": "test",

      "EventId": "3",
      "EventSecret": "a7b20fc00eca79eeced4790b79a9177a",

      "LogFileName": "stdout",
      "LogMaxSize": 50,
      "LogLevel": "info",

      "DbUser": "root",
      "DbPassword": "",
      "DbHost": "",
      "DbName": "dalalstreet_test",

      "ServerPort": ":8000",

      "TLSCert": "./tls_keys/test/server.crt",
      "TLSKey": "./tls_keys/test/server.key",
      "CacheSize": 1000, 
      "BotSecret":"hellobots",
      "SendgridKey":"",
      "PlivoAuthId": "",
      "PlivoAuthToken": "",
      "MaxOTPRequestCount":100,
	   "OTPExpiryTime":5,
      "MaxBlockCount":3,
      "ReferralCashReward": 2000,
      "TotalMarketDays":7,
      "PushNotificationVAPIDPublicKey": "",
      "PushNotificationVAPIDPrivateKey": "",
      "PushNotificationEmail": "mailto:example@example.com",
      "FrontEndUrl": "",
      "MaxVerificationEmailRequestCount": 5
 }
}
