version: "2"
services:
    web:
        container_name: dalalstreet_frontend
        restart: always
        build:
            context: ./frontend
        volumes:
            - ./frontend/conf:/etc/nginx/conf.d
        ports:
            - "8080:80"
    dalalserver:
        container_name: dalalstreet_backend
        build: .
        restart: always
        volumes:
            - ${GOPATH}:/go
            - ./:/go/src/github.com/delta/dalal-street-server
        ports:
            - "8000:8000"
        depends_on:
            - db
        env_file:
            - .env
        environment:
            MYSQL_DATABASE: ${DB_NAME}
            DALAL_ENV: Docker

    db:
        container_name: dalalstreet_db
        image: mysql:5.7
        restart: always
        volumes:
            - ./docker/mysql:/var/lib/mysql
        env_file:
            - .env
        ports:
            - "3307:3306"
        environment:
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_ROOT_PASSWORD: ${DB_PASS}

    phpmyadmin:
        container_name: dalalstreet_pma
        image: phpmyadmin/phpmyadmin
        restart: always
        env_file:
            - .env
        ports:
            - "9040:80"
        depends_on:
            - db
    # dalal_bots:
    #     container_name: dalalstreet_bots
    #     restart: always
    #     build:
    #         context: ./bots
    #     volumes:
    #         - ./bots/dalalstreetbots:/var/www/dalalstreet/bots
    #     ports:
    #         - "7050:5000"
    #     depends_on:
    #         - dalalserver
